# Compiled binary
ceracoder

# Test binaries
tests/test_balancer
tests/test_integration
tests/test_srt
tests/test_srt_integration
tests/test_srt_live_transmit

# Object files
*.o

# Editor files
*.swp
*~
